/* 公用的css */
body{
    font-size: 14px;
    color: #333;
}
a{
    color: #333;
}
a:hover{
    color: #333;
    text-decoration: none;
}


/* 顶部通栏 */
.heima_topBar{
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    position: relative;
    z-index: 1001;
}
.heima_topBar .row{display: flex;}
.heima_topBar a:last-of-type{color: #666;}
.heima_topBar a:last-of-type:hover{color: #666;}
.heima_topBar .heima_icon_phoneApp{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/phone_app.png) no-repeat;
    background-size: 20px 20px;
}
.heima_topBar .heima_icon_phone{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/number.png) no-repeat;
    background-size: 16px 16px;
}
.heima_topBar .heima_icon_down{
    /* margin-top: 12px; */
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/drop_down.png) no-repeat;
    background-size: 14px 14px;
}
.heima_topBar > .container > .row > div{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
/* 二维码 隐藏 */
.heima_app{
    position: relative;
    display: block;
}
.heima_app img{
    display: none;
    width: 200px;
    height: 200px;
}
.heima_app:hover img{
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: -60px;
}
/* 注册按钮 */
.heima_topBar .btn-register{
    background: #e92322;
    color: #fff;
    padding: 3px 15px;
}
.heima_topBar .btn-register:hover{
    border-color: #e92322;
}
/* 登录按钮 */
.heima_topBar .btn-login{
    text-decoration: none;
}


/* 导航栏 */
.heima_nav{
    border: none;
}
.heima_nav .navbar-nav .active{
    border-bottom: 3px solid #e92322;
}
.heima_nav .navbar-collapse ul:last-of-type{
    position: absolute;
    right: 0px;
}


/* 轮播图 */
.heima_banner{
    display: block;
}
.heima_banner .container .carousel-inner .carousel-item{
    width: 100%;
    height: 410px;
}
.heima_banner .container .carousel-inner .carousel-item img{
    position: relative;
    width: 100%;
    height: 410px;
}


/* 信息模块 */
.heima_info{
    padding: 50px;
    border-bottom: 1px solid #ccc;
}
.heima_info .col-md-4{
    padding: 10px;
}
.heima_info .madia-left{
    display: inline-block;
}
.heima_info .madia-body{
    display: inline-block;
}
.heima_icon{
    display: inline-block;
    width: 50px;
    height: 50px;
}
/* 字体图标 */
.heima_info .heima_icon-1{
    background: url(../images/个人.png) no-repeat;
    background-size: 50px 50px;
}
.heima_info .heima_icon-2{
    background: url(../images/信息.png) no-repeat;
    background-size: 50px 50px;
}
.heima_info .heima_icon-3{
    background: url(../images/地址.png) no-repeat;
    background-size: 50px 50px;
}
.heima_info .heima_icon-4{
    background: url(../images/时间.png) no-repeat;
    background-size: 50px 50px;
}
.heima_info .heima_icon-5{
    background: url(../images/看过.png) no-repeat;
    background-size: 50px 50px;
}
.heima_info .heima_icon-6{
    background: url(../images/购物.png) no-repeat;
    background-size: 50px 50px;
}


/* 预约模块 */
.heima_book{
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}
.heima_book a:hover{
    color: #e92322;
}
.heima_book .book-link{
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}
.heima_book .heima_icon-7{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/时间.png) no-repeat;
    background-size: 20px 20px;
}
.heima_book .heima_icon-8{
    display: inline-block;
    width: 30px;
    height: 20px;
    background: url(../images/短信.png) no-repeat;
    background-size: 30px 20px;
}


/* 产品模块 */
.heima_product{
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
}
.nav-tabs-product-parent{
    width: 100%;
    overflow: hidden;
}
.nav-tabs-product{
    border-bottom: 1px solid #ccc;
}
.nav-tabs-product li{ 
    float: left;
    padding-left: 20px;
}
.nav-tabs-product li a{
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}
.nav-tabs-product li a:hover{
    background: #fff;
}
.nav-tabs-product li .active a,
.nav-tabs-product li .active a:hover,
.nav-tabs-product li .active a:focus{
    color: #555;
    cursor: default;
    border: none; 
    background: #fff;
    border-bottom: 3px solid #e92322;
}
/* 产品盒子 */
.heima_product_box{
    margin:  0 80px 50px;
    padding: 0;
    box-shadow: 3px 3px 7px 1px #6c757d;
    color: #666;
}
.heima_product_box .left h3{
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
}
.heima_product_box .left div{
    margin-top: 10px;
    padding: 0px;
}
.heima_product_box .left div>p{
    width: 100%;
    height: 20px;
    font-size: 12px;
    margin-bottom: 0;
    overflow: hidden;
}
.heima_product_box .right{
    margin-left: 10px;
    height: 100%;
    width: 100%;
    padding-left: 10px ;
    padding-right: 0;
    border-left: 1px dashed #ccc;
    font-size: 10px;
}
.heima_product_box .right p:first-of-type b{
    font-size: 44px;
}


/* 新闻模块 */
.heima_news{
    padding: 20px 0;
}
.heima_news .news_titile{
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}
.heima_news .news_line{
    position: absolute;
    top: 5px;
    left:40%;
    height: 80%;
    border-left: 1px dashed #ccc;
    width: 1px;
}
/* 新闻模块 tab */
.heima_news ul{
    list-style: none;
}
.nav-tabs-news > li{
    float: left;
}
.nav-tabs-news > li > a{
    display: block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-bottom: 50px;
}
/* 新闻模块 字体图标 */
.heima_icon_new01{
    position: absolute;
    background: url(../images/001-wallet.png) no-repeat;
    background-size: 50px 50px;
}
.heima_icon_new02{
    position: absolute;
    background: url(../images/002-chart-4.png) no-repeat;
    background-size: 50px 50px;
}
.heima_icon_new03{
    position: absolute;
    background: url(../images/003-message.png) no-repeat;
    background-size: 50px 50px;
}
.heima_icon_new04{
    position: absolute;
    background: url(../images/004-pie-chart-1.png) no-repeat;
    background-size: 50px 50px;
}
.heima_news .tab-pane > ul{padding: 0;}
.heima_news .tab-pane > ul>li{padding: 10px;}


/* footer模块*/
.heima_partner{
    background: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}
.heima_partner ul{
    list-style: none;
    display: inline-block;
    padding-left: 0;
}
.heima_partner ul li{
    float: left;
    font-size: 60px;
    margin-left: 30px;
}
.heima_partner ul li:first-child{
    margin-left: 0;
}
.heima_partner ul li a{    
    background-size: 50px 50px;
}
/* footer模块  合作伙伴图标 */
.heima_icon_partner01{
    background: url(../images/01.jpg) no-repeat;
}
.heima_icon_partner02{
    background: url(../images/02.jpg) no-repeat;
}
.heima_icon_partner03{
    background: url(../images/03.jpg) no-repeat;
}
.heima_icon_partner04{
    background: url(../images/04.jpg) no-repeat;
}
.heima_icon_partner05{
    background: url(../images/05.jpg) no-repeat;
}
.heima_icon_partner06{
    background: url(../images/06.jpg) no-repeat;
}
.heima_icon_partner07{
    background: url(../images/07.jpg) no-repeat;
}
.heima_icon_partner08{
    background: url(../images/08.jpg) no-repeat;
}
.heima_icon_partner09{
    background: url(../images/09.jpg) no-repeat;
}