@media screen and (max-width: 540px){
    .heima_nav{
        padding: 0;
    }
    .heima_nav .navbar-collapse ul:last-of-type{
        position: static;
    }
    .heima_banner .container-fluid .carousel-inner .carousel-item{
        height: 200px;
    }
    .heima_banner .container-fluid .carousel-inner .carousel-item img{
        height: 200px;
    }
    .heima_news{padding-top: 0;}
    .heima_news .row div:first-child{margin-bottom: 10px;}
    .nav-tabs-news{ height: 60px;}
    .nav-tabs-news > li{width: 25%; }
    .nav-tabs-news > li>a{margin: 0;}
}
@media (min-width: 541px) and (max-width: 960px){
    .heima_nav{
        margin: 0;
        padding: 0;
    }
    .heima_banner .container-fluid .carousel-inner .carousel-item{
        height: 340px;
    }
    .heima_banner .container-fluid .carousel-inner .carousel-item img{
        height: 410px;
    }
}